<!DOCTYPE html>
<html>
<head>
  <title>Exercise tracker</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="content">
    <div class="container">
      <h2>Excercise Tracker</h2>
      <div class="form-container">
        <h4>Create a new user</h4>
        <form action="/api/exercise/new-user" method="post" class="user-form">
          <input type="text" name="username" required placeholder="username">
          <input type="submit" value="Submit">
        </form>
        <h4>Add exercise</h4>
        <form action="/api/exercise/add" method="post" class="exercise-form">
          <input type="text" name="userid" required placeholder="user id">
          <input type="text" name="desc" required placeholder="description">
          <input type="number" min="0" name="dur" required placeholder="duration (minutes)">
          <input type="date" name="date">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
</html>