<!DOCTYPE html>
<html>
<head>
  <title>Exercise tracker</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="content">
    <div class="container">
      <h3>Excercise Tracker</h3>
      <div class="form-container">
        <h4>Create a new user</h4>
        <form action="/api/exercise/new-user" method="post" class="user-form">
          <label for="username">Username: </label>
          <input type="text" name="username" required placeholder="username">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    </div>
  </div>
</body>
</html>