<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Exercise tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.min.css" />
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="heading">
    <h1>Exercise Tracker</h1>
  </div>
  <div class="container">
    <div class="content">
      <form action="javascript:alert(`test: add exercise`);" class="add-user-form">
        <input type="text" name="uname" placeholder="Add Exercise" class="form-input">
      </form>
      <div class="loading-spinner"></div>
      <div class="form-btns">
        <button class="back-btn" type="button"><span class="fas fa-chevron-left fa-2x"></span>GO BACK</button>
      </div>
    </div>
  </div>
<script src="/js/list.js"></script>
</body>
</html>
